<div class="body">
  <div class="mycard">
      <div class="card crad">
          <div class="d-flex align-items-center">
          <p>YOUR ACCOUNT STATEMENT</p>
          </div>
    <table class="mt-4">
        <th>S/N</th>
        <th>AMOUNT DRIFTED</th>
        <th>DATE DRIFTED</th>
        <th>TIME DRIFTED</th>
        <tr *ngFor="let n of user[service.id].statement; let i=index">
          <td>{{i+1}}</td>
          <td>{{n.amountDrif}}</td>
          <td>{{n.date}}</td>
          <td>{{n.time}}</td>
        </tr>
    </table>
  </div>
</div>
