
  <div class="bBody" (mouseout)="handleOut()">
    <div class="login">
      <p class="text-success">TERM AND CONDITIONS</p>
    </div>
    <div class="fauser">
      <i class="fa fa-gavel text-success"></i>
    </div>
    <main class="scroll mb-3">
      <p class="text-justify">
        AJO (Thrift) is an organization brought to you by Felix and Friends Inc. We are a group
        of individual across the globe that combined our resources (fund) to gather more wealth and out of our raising
        fund help one another.
        You will need to be on this platform at least five months before you cash out your fund, and for you to earn
        enough bonus, and to be eligible to get enough credit you want, you make sure you don't carry over any of your
        thrift day, and if need be try and thrift in arrears.
      </p>
      <p class="text-justify">For more information, reach out to our Agents.</p>

      <p class="text-justify">International-Agent: +447898888888, or AjoUkinc.org</p>

      <p class="text-justify">Local-Agent: +2348167302289, or AjoAfricainc.org</p>
    </main>
    <div class="d-flex font-weight-bold mt-3 already">
      <button class="rev rem font-weight-bold" routerLink="/mysignup">Forgot Password?</button>
      <button class="text-success rem font-weight-bold" routerLink="/login">Login</button>
    </div>
    <div class="btn">
      <button class="text-success rem font-weight-bold" routerLink="/newsign">Create account</button>
    </div>
  </div>