<div class="profile">
    <div class="spinner">
        <div class="fauser">
            <i class="fa fa-user"></i>
        </div>
        <div>
         <h5 class="mr-1">NAME: </h5><h5> {{myName}}</h5>
        </div>
        <div>
         <h5 class="mr-1">ID: </h5><h5> {{myId}}</h5>
        </div>
        <div>
         <h5 class="mr-1">COUNTRY: </h5><h5> {{myCountry}}</h5>
        </div>
        <div>
         <h5 class="mr-1">PHONE NO: </h5><h5> {{myPhone}}</h5>
        </div>
        <div>
         <h5 class="mr-1">EMAIL: </h5><h5> {{myEmail}}</h5>
        </div>
        <div>
         <h5 class="mr-1">NEXT OF KIN: </h5><h5></h5>
        </div>
        <div>
         <h5 class="mr-1">REGISTERED DATE: </h5><h5>{{myDate}}</h5>
        </div>
    </div>
</div>