<div class="body" [hidden]="mustset">
  <div class="faint" [hidden]="showdis">
    <div class="card cord text-justify">
      <p class="text-danger text-center">SOMETHING WENT WRONG. TRY AGAIN</p>
      <button class="btn-primary" (click)="showmme()">OKAY</button>
    </div>
  </div>
  <div class="mycard">
    <form class="card" [formGroup]="myForms">
      <span class="currency">BALANCE</span>
      <p class="balance"><span>{{dollar}}</span>{{balance}}</p>
      <span class="change">YOUR DRIFT PLAN</span>
      <select name="" id="" class="form-control-lg form-group w-100">
        <option [value]="driftPlan">{{driftPlan}}</option>
      </select>
      <div class="w-100">
        <div class="dollar">$</div>
        <input type="text" class="form-control-lg form-group text-dark w-100" [value]="driftAmount">
      </div>
      <div class="w-100">
        <button type="button" class="btn btn-primary form-group w-100"  angular4-paystack
          [key]="'pk_test_b151276bd6786f5c094f1c35d7ee0008f073fb2d'" [email]="'ajayioluwaseunebenezer@gmail.com'"
          [amount]="driftAmount" [ref]="reference" (paymentInit)="paymentInit()" (onClose)="paymentCancel()"
          (callback)="paymentDone($event)">DRIFT</button>
      </div>
    </form>
  </div>
</div>