
<ion-app>
  <ion-content [fullscreen]="true">
    <div class="header w-100">
      <div class="p">AJO</div>
      <div class="spin">
        <i class="fa fa-spinner fa-spin text-white sm-2"></i>
      </div>
      <div class="power text-center">
        <p>POWERED BY FELIX & FRIENDS Inc</p>
        <p>@Ebencharger {{year}}</p>
        <button routerLink="/login" class="btn btn-dark">LET'S GET STARTED</button>
        <ion-input></ion-input>
       </div>
    </div>
  </ion-content>
</ion-app>



